#app-body {
    display: flex;
    justify-content: center;
}

#app-body section {
    width: 40vw;
    justify-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-between;
    border: 10px rgb(109, 109, 109) solid;
    border-radius: 4pt;
    box-shadow: -5px 5px 5pt rgb(167, 167, 167);
    padding: 10px;
}

#app-body img {
    max-width: 400px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

#app-body button {
    width: fit-content;
}

#app-body h2 {
    word-wrap: break-word;
}

.colorOne {
    color: white;
    background-color: #72195A;
}

.colorTwo {
    background-color: #386FA4;
}

.colorThree {
    background-color: #D0D6B5;
}

.colorFour {
    background-color: #F9B5AC;
}

.colorFive {
    background-color: #EE7674;
}

.colorSix {
    background-color: #177E89;
}

.colorSeven {
    color: white;
    background-color: #084C61;
}

.colorEight {
    background-color: #DB3A34;
}

.colorNine {
    background-color: #FFC857;
}

.colorTen {
    color: white;
    background-color: #323031;
}
